{% for process in processes %}
<!--class="hover:bg-base-100"-->
<tr >
    <td>{{ process.process_id }}</td>
    <td>{{ process.process_status }}</td>
    <td>{{ process.process_start_time }}</td>
    <td>{{ process.process_duration }}</td>
    <td>{{ process.process_name }}</td>
    <td>{{ process.process_memory_usage }}</td>
    <td>{{ process.process_cpu_usage }}</td>
    <td><button class="btn btn-sm" hx-post="{% url 'kill_proc' %}" hx-vals='{"pid": {{process.process_id}}, "proc_name": "{{process.process_name}}" }' hx-target="#process-table-body">Kill</button></td>
    
</tr>

<!--hx-include="#PID_{{process.process_id}}""-->

{% endfor %}
            
